@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  display:  flex;
  justify-content: center;
  min-height: 600px;
  margin-right: 100px;
}

@media only screen and (max-width: 768px) {
  .container{
    margin-right: 0;
  }
  .card {
    width: 45%;
  }
}

@media only screen and (max-width: 480px) {
  .card {
    width: 100%;
  }
}
